<nz-collapse [nzBordered]="false">
  <nz-collapse-panel [nzHeader]="'Recherche Rapide'" [nzActive]="true">
    <hr />
    <!--TODO -->

    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <br />
    <form [formGroup]="crmForm" (ngSubmit)="onSubmit()">
      <label>Types de Client/Prospects</label>
      <ng-template #prefixTemplateUser><span nz-icon nzType="user"></span></ng-template>
      <ng-template #suffixTemplateInfo>
        <span nz-icon nz-tooltip nzTooltipTitle="Extra information" nzType="info-circle"></span>
      </ng-template>
      <br />
      <br />
      <div class="container">
        <div>
          <span *ngIf="errorMessage" class="custom-error-message">errorMessage </span>

          <label nz-checkbox formControlName="isClient" nzStatus="error">Clients</label>
          <label nz-checkbox formControlName="isProspect" nzDanger="error">Tous les prospects</label>
        </div>

        <input nz-input [nzSize]="'large'" formControlName="text" placeholder="Exemple" />
        <div>
          <div></div>
          <button nz-button [nzSize]="'large'" style="background-color: #52617b; color:aliceblue; border-radius: 10px;"
            type="submit">Rechercher</button>
        </div>

      </div>
    </form>

  </nz-collapse-panel>
</nz-collapse>