<br />
<br />


<div class="icon" (click)="openModalOfCheckBoxList()">
  <span style=" display: inline-block;background: #6a6d66 !important;" nz-icon [nzType]="'setting'" [nzTheme]="'fill'"
    style="margin-right: 6px"></span>Personaliser la vue
</div>

<nz-table>
  <thead>
    <tr>
      <th nzWidth="40px" *ngFor="let header of headersForView" style="position:relative" class="sortable">

        <div class="sort-label">
          <div>
            <strong>{{header.name}}</strong>
          </div>
          <div *ngIf="header.canBeSort " style="margin-left:10px;margin-top:-4px;line-height: 15px;">
            <div class="icon-container ">

              <div class="icon-sort-up">
                <span nz-icon nzType="caret-up" nzTheme="outline">

                </span>
              </div>
              <div class="icon-sort-down ">
                <span nz-icon nzType="caret-down" nzTheme="outline">

                </span>
              </div>
            </div>


          </div>

        </div>

      </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dt of dataTableForView">

      <td *ngFor="let c of dt.columns">{{c.value }}</td>
    </tr>
  </tbody>
</nz-table>