<br />
<br />


<div class="icon" (click)="openModalOfCheckBoxList()">
  <span nz-icon [nzType]="'setting'" [nzTheme]="'fill'" style="margin-right: 6px"></span>Personaliser la vue
</div>





<nz-table>
  <thead>
    <tr>
      <th nzWidth="40px" *ngFor="let header of headersForView" style="position:relative">

        <div style="display: flex;flex-direction: row;">
          <div>
            <strong>{{header.name}}</strong>
          </div>
          <div *ngIf="header.canBeSort " style="margin-left:10px;margin-top:-4px;line-height: 15px;">
            <div>
              <span nz-icon nzType="caret-up" nzTheme="outline">

              </span>
            </div>
            <div>
              <span nz-icon nzType="caret-down" nzTheme="outline">

              </span>
            </div>


          </div>

        </div>

      </th>

    </tr>
  </thead>
  <tbody>
    <ng-container>

    </ng-container>
  </tbody>
</nz-table>