//Global Proporties
:host {
  --border-radius: 15px;
  --color-dark: #000;
  --color-white: #fff;
  --height: 4rem;
}
.btn-btn {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  border: 1px solid #d8d;
  color: var(--color-dark);
  cursor: pointer;
  font-weight: bold;
  height: var(--height);
  margin-right: 10px;
  width: 13%;
  display: inline-block;
}
.btn-btn.active {
  background: #a1176c;
  border-radius: var(--border-radius);

  color: var(--color-white);
}

@media screen and (max-width: 1030px) {
  .btn-btn {
    width: 30%;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 300px) {
  .btn-btn {
    width: 30%;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    //long text add ...
    text-overflow: ellipsis;
  }
}
